@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw / $base-vw) * 100vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bcbcbc;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}
